.introServices {
  background: var(--light-bg-color);
  padding-top: 15%;
  padding-bottom: 10%;
}

.introContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: -100px;
}
