/* src/components/ServiceCard.module.css */

.row {
  background: var(--bg-color); /* Using CSS variable */
  padding: 50px 30px;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease;
}

.row img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.row h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.row p {
  font-size: var(--p-font); /* Using CSS variable */
  font-weight: 300;
  line-height: 25px;
}

.row:hover {
  transform: translateY(-10px);
}
