.heading {
    text-align: center;
}
.heading span {
    color: var(--main-color);
    font-weight: 500;
}
.heading h2 {
    font-size: var(--h2-font);
    line-height: 1.2;
}
@media (max-width: 600px) {
    .heading h2 {
        font-size: 2.5rem; 
    }
}
.servicesContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}
